name: Ruff

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
        with:
          version: 0.14.10
          args: check
      - uses: astral-sh/ruff-action@v3
        with:
          version: 0.14.10
          args: format --check
